POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=example_db

DATABASE_URL=example_database_url
JWT_SECRET=example_jwt_secret

EXPOSE_DEV_TOKENS=example_expose_dev_tokens_true_or_false